body {
	font-family: "ff-good-web-pro", sans-serif;
	font-weight: 400;
	font-style: normal;
}

#quiz {
	margin-left: 10px;
	/* background: #d2def2; */
	padding: 10px 20px 10px 20px;
	width: 90%;
	border-radius: 20px;
}

#textbox {
	height: 25px;
	font-size: 1rem;
	font-weight: 600;
	border-radius: 1px;
	border: 1px solid black;
	padding-left: 5px;
	color: black;
}

#button,
button {
	background: green;
	border: none;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 16px;
	transition-duration: .5s;
	margin-top: 15px;
}

#button:hover, button {
	background: white;
	border: 1px solid green;
	color: black;
	cursor: pointer;
}

#after_submit {
	visibility: hidden;
	margin-left: 20px;
	font-size: 20px;
	color: Red;
	margin: 0 0 0 0;
}

#formSubmisson {
	display: flex;
}
